:root {
    --blue: #2f4f88;
    --background: linear-gradient(
        145deg,
        rgba(47, 79, 136, 1) 0%,
        rgba(12, 20, 34, 1) 100%
    );
    --backgroundButton: linear-gradient(
        145deg,
        rgba(43, 96, 194, 1) 0%,
        rgba(27, 54, 102, 1) 100%
    );
}
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    min-height: 4.5rem;
    width: 100%;
    border: 1px solid black;
    padding: 0 15px;
    background: var(--blue);
    text-align: center;
    align-items: center;
}
header img {
    height: 64px;
    width: 64px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 50%;
}
header button {
    background: none;
    background-color: #1fda18;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
}
a {
    text-decoration: none;
    color: white;
}
main {
    position: fixed;
    height: 47rem;
    width: 100%;
    top: 4.6rem;
    overflow-y: auto;
    --sb-track-color: #49494965;
    --sb-thumb-color: #6baf8d;
    --sb-size: 8px;
}
h2 {
    font-weight: 700;
    font-size: 20px;
}
#sobre {
    height: 47rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre img {
    width: 500px;
    height: 400px;
}
#sobre span {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;
    line-height: 25px;
}
#sobre button {
    max-width: 200px;
}
#servicos {
    background: var(--background);
    color: white;
    height: 47rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#servicos img {
    width: 500px;
    height: 400px;
}
#servicos span {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 30px;
    line-height: 25px;
}
#servicos button {
    max-width: 200px;
}
#avaliacoes {
    display: 1;
    height: 47rem;
    padding: 15px;
}
#helpUs {
    background: var(--background);
    color: white;
    height: 47rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#helpUs span {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 25px;
}
form {
    color: black;
    background-color: white;
    height: 400px;
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 16px;
    padding: 20px;
    justify-content: space-between;
}
form input {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}
form button {
    background: none;
    background-color: black;
    height: 30px;
    padding: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 25px;
}
button {
    background: var(--backgroundButton);
    padding: 20px;
    font-size: 14px;
    border-radius: 16px;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    min-height: 4.5rem;
    width: 100%;
    background: var(--blue);
    text-align: center;
    align-items: baseline;
    color: white;
    padding: 10px 0;
}
footer span {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}
.footerText {
    width: 15%;
    margin: auto 0;
}
footer li {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}
.redes img {
    width: 34px;
    height: 34px;
}
.redes li {
    margin-top: 0px;
}
main::-webkit-scrollbar {
    width: var(--sb-size);
}
main::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
main::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 12px;
    border: transparent;
}
