:root {
    --blue: rgb(28, 49, 116, 1);
    --background: linear-gradient(
        145deg,
        rgba(12, 20, 34, 1) 0%,
        rgba(47, 79, 136, 1) 100%
    );
    --background2: linear-gradient(
        145deg,
        rgba(47, 79, 136, 1) 0%,
        rgba(12, 20, 34, 1) 100%
    );
    --backgroundButton: linear-gradient(
        145deg,
        rgba(43, 96, 194, 1) 0%,
        rgba(27, 54, 102, 1) 100%
    );
    --sb-track-color: #49494965;
    --sb-thumb-color: #2f5088b4;
    --sb-size: 8px;
}
header {
    position: fixed;
    top: 0;
    min-height: 5rem;
    width: 100%;
    background: url("../imgs/madeira.png"), var(--background2);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.75rem;
    min-height: 5rem;
}
header img {
    height: 54px;
    width: 54px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    max-width: 70%;
    min-width: 40%;
    padding: 15px 0;
}
header button {
    background: none;
    background-color: #1fda18;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
}
a {
    text-decoration: none;
    color: white;
}
main {
    width: 100%;
    margin-top: 5rem;
    overflow-y: auto;
}
h2 {
    font-weight: 700;
    font-size: 20px;
}
section{
    min-height: 45rem;
    display: flex;
    align-items: center;
}
span{
    height: 18.75rem;
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    line-height: 25px;
}
.main-div{
    width: 60%;
    display: flex;
    padding: 1rem 3rem;
    margin: 0 auto;
    align-items: center;
    border-radius: 8px;
}
#sobre div{
    width: 60%;
    display: flex;
    padding: 1rem 3rem;
    margin: 0 auto;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 0px 14px 1px rgba(168,168,168,0.26);
    -webkit-box-shadow: 2px 0px 14px 1px rgba(168,168,168,0.26);
    -moz-box-shadow: 2px 0px 14px 1px rgba(168,168,168,0.26);
}
#sobre img {
    width: 500px;
    height: 400px;
}
#sobre span{
    min-height: 4rem;
    justify-content: space-between;
}
#servicos {
    background: url("../imgs/madeira.png"), var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
}
#servicos img {
    width: 500px;
    height: 400px;
}
#servicos div span {
    margin-right: 30px;
}
#servicos button {
    align-self: self-end;
}
#avaliacoes {
    display: 1;
    height: 47rem;
    padding: 15px;
}
#helpUs {
    background: url("../imgs/madeira.png"), var(--background2);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
}
#helpUs span {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    line-height: 25px;
}
form {
    color: black;
    background-color: white;
    height: 400px;
    width: 400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    padding: 2% 2% 6% 2%;
    justify-content: space-between;
}
form input {
    border: 0.5px solid grey;
    border-radius: 8px;
    padding: 10px;
}
form button {
    background: none;
    background-color: black;
    height: 30px;
    padding: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 25px;
    max-width: 100%;
}
button {
    display: flex;
    background: var(--backgroundButton);
    padding: 20px;
    font-size: 14px;
    border-radius: 16px;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
    max-width: 15rem;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: space-evenly;
    min-height: 4.5rem;
    width: 100%;
    background: url("../imgs/madeira.png"), var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    text-align: center;
    align-items: baseline;
    color: white;
    padding: 10px 0;
}
footer span {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}
.footerText {
    width: 15%;
    margin: auto 0;
}
footer li {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}
.redes img {
    width: 34px;
    height: 34px;
}
.redes li {
    margin-top: 0px;
}
*::-webkit-scrollbar {
    width: var(--sb-size);
}
*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    /* border-radius: 12px; */
    border: transparent;
}
