@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
    --blue: rgb(28, 49, 116, 1);
    --background: linear-gradient(
        90deg,
        rgb(255, 255, 255) 0%,
        rgba(47, 79, 136, 1) 30%
    );
    --background2: linear-gradient(
        90deg,
        rgba(47, 79, 136, 1) 70%,
        rgb(251, 252, 253) 100%
    );
    --backgroundButton: linear-gradient(
        90deg,
        rgba(43, 96, 194, 1) 0%,
        rgba(27, 54, 102, 1) 500%
    );
    --sb-track-color: #49494965;
    --sb-thumb-color: #2f5088b4;
    --sb-size: 8px;
    font-family: "Inter";
    scroll-behavior: smooth;
}
header {
    position: fixed;
    top: 0;
    min-height: 5rem;
    width: 100%;
    background: var(--background2);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    z-index: 10;
    font-size: 1.125rem;
}
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3.75rem;
    min-height: 5rem;
}
header img {
    height: 54px;
    width: 54px;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    max-width: 100%;
    min-width: 75%;
    padding: 15px 0;
    font-weight: 600;
}
header button {
    background: none;
    background-color: #1fda18;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 7px 16px 1px rgba(0, 0, 0, 0.35);
    font-size: 1rem;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color gi;
}
a:hover {
    text-decoration-color: rgba(255, 255, 255, 1);
}
main {
    max-width: 100%;
    margin-top: 5rem;
    overflow-y: auto;
}
h2 {
    font-weight: 700;
    font-size: 1.5rem;
}
p,
li {
    font-size: 1rem;
}
section {
    min-height: 50rem;
    display: flex;
    align-items: center;
    background-image: url("../imgs/listras.png"), url("../imgs/listras1.png");
    background-repeat: no-repeat;
    background-position-y: -10%, 140%;
    background-position-x: 0, 107%;
}
span {
    min-width: 20rem;
    max-width: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    line-height: 1.4;
}
.main-div {
    width: 65%;
    display: flex;
    padding: 1rem 3rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
#sobre div {
    width: 65%;
    display: flex;
    padding: 1rem 3rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 2px 0px 14px 1px rgba(168, 168, 168, 0.26);
    -webkit-box-shadow: 2px 0px 14px 1px rgba(168, 168, 168, 0.26);
    -moz-box-shadow: 2px 0px 14px 1px rgba(168, 168, 168, 0.26);
}
#sobre img {
    width: 100%;
    height: auto;
    max-height: 450px;
    max-width: 500px;
    margin-right: 6%;
}
#sobre span {
    min-height: 450px;
    justify-content: space-between;
}
#servicos {
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    z-index: 1;
}
#servicos div span {
    margin: 0 30px;
    min-height: 450px;
}
#servicos span li {
    margin: 3px 0 3px 5%;
    list-style: disc;
    line-height: 1.25;
}
#servicos button {
    align-self: center;
}
#avaliacoes {
    background-image: url("../imgs/listra3.png"), url("../imgs/listras2.png");
    background-repeat: no-repeat;
    background-position-y: -55%, 160%;
    background-position-x: 105%, -5%;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2rem;
    min-height: 35rem;
    padding: 15px;
}
#avaliacoes:target {
    scroll-margin-top: 5rem;
}
#helpUs {
    background: var(--background2);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
}
#helpUs span {
    min-height: 450px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#helpUs h2 {
    margin-bottom: 5%;
}
form {
    color: black;
    background-color: white;
    height: 400px;
    width: 500px;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    padding: 2% 2% 6% 2%;
    justify-content: space-between;
    
}
form input,textarea {
    border: 0.5px solid grey;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
    min-width: 95%;
    max-width: 95%;
    min-height: 24px;
    max-height: 60px;
}
form button {
    background: none;
    background-color: black;
    height: 30px;
    padding: 0;
    border-radius: 0;
    width: 100%;
    margin-top: 25px;
    max-width: 100%;
}
button {
    display: flex;
    background: var(--backgroundButton);
    padding: 20px;
    font-size: 0.875rem;
    border-radius: 16px;
    border: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;
    max-width: 15rem;
    justify-content: center;
    align-items: center;
}
.gap {
    height: 10rem;
    background: url("../imgs/listras4.png");
    background-repeat: no-repeat;
    background-position-y: 6rem;
}
footer {
    display: flex;
    justify-content: space-evenly;
    min-height: 4.5rem;
    width: 100%;
    background: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
    align-items: baseline;
    text-align: center;
}
footer section {
    background-image: none;
}
footer span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 16rem;
}
.footer-box-1 {
    min-height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-img {
    max-width: 20px;
}
.footerText {
    width: 15%;
    margin: auto 0;
}
footer li {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 10px;
}
footer img {
    width: 34px;
    margin-left: 10px;
}
.redes {
    min-height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes img {
    width: 34px;
    height: 34px;
}
*::-webkit-scrollbar {
    width: var(--sb-size);
}
*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border: transparent;
}
.listras {
    position: absolute;
    top: 0;
    z-index: 0;
}
.listras1 {
    position: absolute;
    right: -6rem;
    bottom: -2rem;
    z-index: -1;
}
.listras2 {
    position: absolute;
    top: 10.8rem;
    z-index: -1;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.avaliacao {
    max-width: 65%;
    min-height: 110px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 5% 3%;
    margin: 0 auto;
}
.avaliador {
    display: flex;
    column-gap: 10px;
    max-width: 350px;
    height: 4rem;
    align-items: center;
}
.info-avaliador h2,
.info-avaliador span {
    display: inline;
    margin: 0;
}
.estrelas {
    color: rgb(194, 194, 0);
}
.splide__track {
    justify-content: center;
}
.splide__arrows button{
    opacity: 1;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #BBBCBE;
}
.splide__pagination li button{
    background-color: #d9d9d9;
}
.splide__pagination li button.is-active{
    background-color: #BBBCBE;
}
@media (max-width: 1670px) {
    h2 {
        font-size: 1.2rem;
    }
    p,
    li {
        font-size: 0.875rem;
    }
}
@media (max-width: 1450px) {
    #sobre div {
        flex-wrap: wrap;
        justify-content: center;
        padding: 4rem;
    }
    #sobre img {
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1.2rem;
    }
    #sobre span {
        max-width: 500px;
        margin-left: 0px;
        justify-content: space-evenly;
    }
    section {
        background-position-x: 0, 110%;
    }
    #avaliacoes {
        background-position-x: 110%, -10%;
    }
    button {
        margin-top: 25px;
    }
}
@media (max-width: 1100px) {
    section {
        background-position-x: 0, 120%;
    }

    #servicos span li {
        line-height: 1.1;
    }
}
@media (max-width: 980px) {
    header div {
        justify-content: space-between;
        margin: 0 20px;
    }
    header ul li a {
        display: none;
    }
    header ul {
        justify-content: space-between;
    }
    button {
        font-size: 0.875rem;
        padding: 1rem;
    }
    #servicos div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #servicos div span {
        margin: 0;
        min-height: 0;
        line-height: 1.25;
    }
    #servicos h2 {
        margin: 15px 0;
    }
    #servicos button {
        display: none;
    }
    #helpUs div {
        flex-direction: column-reverse;
    }
    #helpUs div span {
        min-height: auto;
        width: 100%;
        margin: 25px 0;
    }
    form {
        width: 100%;
        min-width: 300px;
        margin: 0 0;
        padding: 4% 4%;
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer h2 {
        text-align: center;
    }
    .footerText {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-box-1 {
        min-height: 20rem;
        max-width: 65%;
    }
    .redes {
        min-height: 20rem;
    }
    #avaliacoes {
        background-position-x: 115%, -15%;
    }
}
@media (max-width: 700px) {
    section {
        background-position-x: -25%, 140%;
    }
    #avaliacoes {
        background-position-x: 127%, -27%;
    }
}
@media (max-width: 520px) {
    #sobre img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    section {
        background-position-x: -45%, 170%;
    }
    #avaliacoes {
        background-position-x: 155%, -55%;
    }
}
@media (max-width: 420px) {
    section {
        background: none;
    }
    #avaliacoes {
        background: none;
    }
}
